table.t_layout {
  border-collapse: collapse;
  border: none;
  width: 100%;
}
table.t_layout td {
  border: none;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
}

table.t_list {
  border-collapse: collapse;
  border: solid #dddddd 2px;
  width: 100%;
  margin-top: 5px;
}
table.t_list th,
table.t_list td {
  border-width: 1px 0px;
  border-style: solid;
  border-color: #dddddd;
  padding: 5px 5px 5px 5px;
}

table.t_switch {
  border-collapse: collapse;
  border: none;
  margin-top: 5px;
}
table.t_switch td{
  border: none;
}

a {
  color: rgba(24,103,194,0.81);
}

a:link    { color: rgba(24,103,194,0.81); text-decoration: none;}
a:visited { color: rgba(24,103,194,0.81); }
a:hover   { color: rgba(24,103,194,0.81); }
a:active  { opacity: 0.2; }
